
.announcement-box {
    padding: 1rem 1rem;
    height: 10rem;
    background-color: rgba(white,.1);
    border-radius: 5px;
    box-shadow: inset 0 0 5rem rgba(white, .1);
    &:hover {
        background-color: rgba(white,.25);
    }
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &__icon { 
        font-size: 5rem;
        text-align: center;
        color: rgba($color-orange,.8);
        display: block;
        float: left;
        margin-right: 3rem;
    }
    &__text {
        font-size: $default-font-size*.9;
        color: rgba($color-text-gray1, .8);
        font-weight: 300;
    }
    &__date {
        font-size: $default-font-size*.9;
        text-align: right;
        padding: 0 1rem;

    }
}
