.footer-box {
    
    &__logo {
        height: 10vh;
        position: relative;
    }
    &__icon {
       font-size: $default-font-size * 1.2;
       display: inline-block;
    }
    &__text {
        padding-top: 2rem;
        font-size: $default-font-size* .8;
        color: rgba($color-text-gray1, .6);
    }
    &__rights {
        font-size: $default-font-size* .8;
        color: rgba($color-text-gray1, .5);
    }
}