@keyframes move-in-left{
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        opacity: .8;
        transform: translateX(1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes move-in-right{
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        opacity: .8;
        transform: translateX(-1rem);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes float {
	0% {
		transform: translatey(0rem);
	}
	50% {
		transform: translatey(-2rem);
	}
	100% {
		transform: translatey(0rem);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
    }
    50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}